---
layout: default
---
<head>
  <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
  <title> {% if page.title %} {{ page.title }} | {% endif %} The BASIS Gazette </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/logo.png">
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/bootstrap.css"  type="text/css"/>
  <link rel="stylesheet" href="/css/bootstrap-responsive.css">
</head>

<body>

{{ content }}

<img src="{{ page.image }}" style="margin-left:auto; margin-right:auto; display:block; width:700px; height:500px;" /> 
<p style="align:center; padding-bottom:30px;">{{page.caption}}</p>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src=”js/bootstrap.js”></script>
</body>

